<form [formGroup]="form">
  <input type="text" class="form-control" formControlName="search" placeholder="Rechercher un CV par nom..." />
</form>

<div *ngIf="filteredCvs$ | async as cvs" class="mt-3">
  <ol class="list-group" *ngIf="cvs.length > 0">
    <li
      *ngFor="let cv of cvs; let isOdd = odd"
      [ngClass]="{
        'list-group-item-primary': isOdd,
        'list-group-item-secondary': !isOdd
      }"
      class="list-group-item"
    >
      <app-item [cv]="cv"></app-item>
    </li>
  </ol>
  <div *ngIf="cvs.length === 0 && form.get('search')?.value?.trim()" class="alert alert-info">
    Aucun résultat trouvé pour "{{ form.get('search')?.value }}"
  </div>
</div>
